extends index.jade
block title 
  title= words[0].book + ' ' + words[0].c
  meta(property='og:title', content= words[0].book + ' ' + words[0].c)
  style.
    #psScroll { position:relative; margin:0px auto; padding:0px; height: 400px; overflow: hidden; }
    .content {width: calc(100% - 1em);}
block content 
  #reader.flexwrap
    nav#readermenu.flexItem.flexwrap
      //- vnumTog.js
      #novnum.btn no verses
      #byline.btn verses by line
      //- engTog.js
      #engtog.btn toggle english
    article#readerContent.flexItem.flexwrap
      mixin word(word,type)
        if word.heb === 'פ'
          div(id=word._id).word.marker-para
            .heb(
              data-b=word.book
              data-c=word.c
              data-v=word.v 
              data-w=word.w
            )
              span=word.heb
        if word.heb === 'ס'
          div(id=word._id).word.marker-space
            .heb(
              data-b=word.book
              data-c=word.c
              data-v=word.v 
              data-w=word.w
            )
              span=word.heb
        if word.c === 1 && word.v === 1 && word.w === 1
          - var ref = word.book + '.' + 'c' + word.c + '.' + word.v
          h1.marker-title.flexItem= word.book
        if word.w === 1
          - var ref = word.book + '.' + 'c' + word.c + '.' + word.v
          .vnumInvisible
        if word.heb !== 'פ' && word.heb !== 'ס'
          div(id=word._id).word
            if word.w === 1
              - var ref = word.book + '.' + 'c' + word.c + '.' + word.v
              a.vnum(href=ref id=ref)= word.c + ':' + word.v
            .heb(
              data-heb=word.heb 
              data-constant=word.constant 
              data-vowel=word.vowel
              data-cantnovowel=word.cantnovowel
              data-anc=word.anc
               
              data-b=word.book
              data-c=word.c
              data-v=word.v 
              data-w=word.w
            )
              a(href="/concord/anc/"+word.anc)=  word[type] + " "
            .trans
              if word.eng === undefined
                div.eng
              if word.eng 
                div
                  a(href='/concord/eng/' + word.eng target="_blank")= word.eng + " "
      each word in words
        +word(word, 'constant')
      #loadNext scroll +
  script(src="/js/bundle.js")
